html, body{
    font-family: 'Montserrat', sans-serif!important;
}
/* Custom */
.élevée{
    background-color: #dc3545!important;
}
.modérée{
    background-color: #ffc107!important;
}
.faible{
    background-color: #28a745!important;
}
#flash-message{
    position: fixed;
    top: 20px;
    width: 200px;
}
.lessOpacity{
    opacity: 0.4;
}
.table tr:nth-child(even){
    background-color: #f8f9fa;
}
.table td:first-child{
    font-weight: bold;
}
.fc-time-grid-event .fc-title{
    position: relative;
    top: -15px;
    left: 80px;
}
