/* Custom */
.élevée{
    background-color: #dc3545!important;
}
.modérée{
    background-color: #ffc107!important;
}
.faible{
    background-color: #28a745!important;
}
#flash-message{
    position: fixed;
    top: 20px;
    width: 200px;
}
.lessOpacity{
    opacity: 0.4;
}
